/* Dashboard Container */
.dashboard-container {
  display: flex;
  min-height: 100vh;
}

/* Main Content Styles */
.main-content1 {
  flex: 1;
  margin-left: 220px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .main-content {
    margin-left: 70px;
  }
}
